:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --text-bold: hsl(0, 6%, 24%);
  --light-gray: #bbbbbb;
  --main-font: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--main-font);
}

/* Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%) */
/* Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

input:focus {
  outline: none;
}

.main-header {
  padding: 24px;
}

.logo {
  width: 100px;
}

.main-title {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
  color: var(--desaturated-red);
  margin-bottom: 16px;
}

.main-title span {
  display: block;
  font-weight: 600;
  color: var(--dark-grayish-red);
}

.main {
  padding: 48px 32px;
}

.paragraph {
  color: var(--desaturated-red);
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 32px;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-field::after {
  display: none;
  content: url(../images/icon-error.svg);
  position: absolute;
  top: 12px;
  right: 65px;
}

.form-message {
  font-size: 12px;
  padding-left: 16px;
  margin-top: 8px;
  color: var(--soft-red);
  display: none;
}

.input,
.button {
  padding: 8px 16px;
  border-radius: 30px;
  height: 48px;
}

.input {
  flex-grow: .75;
  border: none;
  border-top: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.button {
  width: 60px;
  position: absolute;
  right: 0;
  border: none;
  line-height: 48px;
  text-align: center;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 9px 27px -5px var(--desaturated-red);
}

.form-field.error .form-message {
  display: block;
}

.form-field.error::after {
  display: block;
}

.form-field.error .input {
  border-color: var(--soft-red);
}
